.authentication {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #363636, #434243, #504f50, #5f5c5d, #6d6a6a);
    justify-content: center;
    align-items: center;
}

.authentication form {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    width: 380px;
    background-color: white;
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
}

.link-dark {
    text-decoration: underline;
}

.link-dark:hover {
    color: #6d6a6a;
}