:root {
  --tournament-match-btn-bg-color: #424242;
  --bg-color: #16181d;
  --menu-bg-color: #20232a;
  --mat-bg-color: #014e01;
  --font-color: #fffaff;
  --header-height: 100px;
  --footer-height: 40px;
  --menu-width: 200px;
  --shadow: 0 2px 23px 0 rgba(214, 34, 34, 0.1),
    0 2px 49px 0 rgba(59, 196, 38, 0.06);
}

* {
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}

.app {
  margin: 0px;
  display: grid;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "header header"
    "menu-area mat"
    "footer footer";
  height: 100vh;
}

header.header {
  grid-area: header;
}

nav.menu-area {
  grid-area: menu-area;
}

main.mat-area {
  grid-area: mat;
}

footer.footer {
  grid-area: footer;
}

.page-content {
  display: grid;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: 1fr;
}
