#top-winners-main {
  display: flex;
  height: 100%;
  background-color: var(--mat-bg-color);
  justify-content: center;
  align-items: center;
}

#top-winners-main section {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  width: 60%;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.th-bots-rank {
  text-align: center;
  font-size: 18px;
  background-color: rgb(138, 246, 246);
}

.td-bots-rank {
  text-align: center;
  font-size: 16px;
  background-color: rgb(174, 255, 174);
}

.top-winners-limiter {
  display: flex;
  max-height: 300px;
  overflow: auto;
}

.top-winners-limiter table {
  width: 100%;
  overflow: auto;
}
