.info-form-content {
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.name-field {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 1;
}
.url-field {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 2;
}

.url-field input {
  width: 180px;
}

.port-field {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1;
}

.invalid-inp {
  border-color: red !important;
}
.valid-inp {
  border-color: green !important;
}
