.info-form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-field input {
  width: 100%;
}

.url-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.url-field input {
  width: 100%;
}

.port-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.port-field input {
  width: 100%;
}

.invalid-inp {
  border-color: red !important;
}
.valid-inp {
  border-color: green !important;
}
