#top-winners-main {
  display: flex;
  height: 100%;
  background-color: var(--mat-bg-color);
  justify-content: center;
  align-items: center;
}

#top-winners-main section {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  width: 60%;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.top-winners-limiter {
  display: flex;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.section-header h4 {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

.section-header button {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
}
