.registration {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #363636, #434243, #504f50, #5f5c5d, #6d6a6a);
    justify-content: center;
    align-items: center;
}

.registration form {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    width: 380px;
    background-color: white;
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
}

.input-error {
    font-size: small;
    margin-bottom: -22px;
    font-weight: 100;
    color: #cc0000;
    padding-top: 3px;
}

.btn-eye .btn-eye:focus {
    outline: none;
    box-shadow: none;
    background-color: #fff;
    border-color: #ccc;
}

.btn-eye:focus {
    outline: none;
    box-shadow: none;
    border-color: #ccc;
    background-color: #fff;
    color: gray;
}