div.card{
    height: 110px;
    background-color: var(--mat-bg-color);
    border: none;
    box-shadow: 
    2px 0 10px 0 rgba(0, 0, 0, 0.12),
    2px 0 15px 0 rgba(0, 0, 0, 0.09);

}

div.card img{
    height: 100%;
}

div.none{
    opacity: 0;
}