div.commands{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 25px;
    padding-bottom: 25px;
}

div.commands button{
    width: 130px;
    color: var(--font-color);
    margin-bottom: 5px;
    font-family: 'Patrick Hand', cursive;
}