#crud-remote {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  background-color: var(--mat-bg-color);
  justify-content: center;
  align-items: center;
}

#crud-remote section {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  width: 700px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

div.crud-remote-header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#bots-filter-label {
  align-self: center;
}

#bots-filter {
  grid-column: 2;
  width: 100%;
  height: 50px;
}

.edit-btn {
  margin-right: 10px;
}

.add-btn {
  grid-column: 3;
  width: 42px;
  height: 40px;
  margin-left: 20px;
  align-self: center;
  justify-self: start;
}

.crud-bots-table {
  align-self: center;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.remote-bots-table th {
  text-align: center;
}

.remote-bots-table .table-info {
  text-align: center;
}
