.match-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  height: auto;
  width: 200px;
  background-color: rgb(151, 151, 151);
}

.match-container p {
  margin: 0px;
}

.match-player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
}
