.match-player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  height: 45px;
  width: 160px;
  color: #fff;
  background-color: #242424;
  border-radius: 10px;
}
.match-play-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  height: 45px;
  width: fit-content;
  color: #fff;
  background-color: #242424;
  border-radius: 10px;
}

.match-play-btn .play-btn {
  background-color: var(--tournament-match-btn-bg-color);
  width: auto;
  padding: 2px 10px;
  height: fit-content;
}

.match-player.winner {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
}

.match-player.winner p {
  font-size: 20px;
}

.match-player.third-place {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
}

.match-player.third-place p {
  font-size: 20px;
}

.match-player.third-place .winner-info {
  width: auto;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.match-player.winner .winner-info {
  width: auto;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.match-player p {
  font-size: 11px;
  margin: 0px;
}
