.s8 .tournament-grid {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
}

.s8 .info-simulacoes {
  width: fit-content;
  grid-row: 1;
  grid-column: 3/6;
}

.s8 #tournament-title {
  grid-row: 1;
  grid-column: 3/6;
  font-size: 24px;
  margin: 0px;
  text-align: center;
}

.s8 .match-player.winner {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
  grid-row: 3;
  grid-column: 4;
}

.s8 .match-player.third-place {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
  grid-row: 6;
  grid-column: 4;
}

.s8 .match-play-btn.winner {
  padding: 10px;
  grid-row: 3;
  grid-column: 4;
}

.s8 .match-play-btn.third-place {
  padding: 10px;
  grid-row: 6;
  grid-column: 4;
}

.s8 .reset.b {
  grid-row: 7;
  grid-column: 4;
}

.s8 #third-place-label {
  font-size: 14px;
  margin: 0px;
  grid-row: 5;
  grid-column: 4;
  align-self: flex-end;
}

.s8 #tournament-winner-label {
  font-size: 14px;
  margin: 0px;
  grid-row: 2;
  grid-column: 4;
  align-self: flex-end;
}

/*Quartas*/
.s8 .m1.p1 {
  grid-row: 1;
  grid-column: 1;
}
.s8 .m1.p2 {
  grid-row: 3;
  grid-column: 1;
}

.s8 .m2.p1 {
  grid-row: 4;
  grid-column: 1;
}

.s8 .m2.p2 {
  grid-row: 6;
  grid-column: 1;
}

.s8 .m3.p1 {
  grid-row: 1;
  grid-column: 7;
}

.s8 .m3.p2 {
  grid-row: 3;
  grid-column: 7;
}

.s8 .m4.p1 {
  grid-row: 4;
  grid-column: 7;
}

.s8 .m4.p2 {
  grid-row: 6;
  grid-column: 7;
}

/*Semi-final*/
.s8 .m5.p1 {
  grid-row: 2;
  grid-column: 2;
}

.s8 .m5.p2 {
  grid-row: 5;
  grid-column: 2;
}

.s8 .m6.p1 {
  grid-row: 2;
  grid-column: 6;
}

.s8 .m6.p2 {
  grid-row: 5;
  grid-column: 6;
}

/*Final*/
.s8 .m7.p1 {
  align-self: center;
  grid-row: 3/5;
  grid-column: 3;
}

.s8 .m7.p2 {
  grid-row: 3/5;
  grid-column: 5;
}

.s8 .m8.p1 {
  align-self: center;
  grid-row: 6/8;
  grid-column: 3;
}

.s8 .m8.p2 {
  grid-row: 6/8;
  grid-column: 5;
}
