.tournament {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-bg-color);
}

.tournament section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.tournament section > button {
  width: fit-content;
  align-self: flex-end;
}

.tournament-grid {
  display: grid;
  place-items: center;
  grid-template-rows: auto auto auto auto auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
}

.match-player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px 5px 0px;
  height: 60px;
  width: 120px;
  color: #fff;
  background-color: #242424;
  border-radius: 10px;
}

.match-player.m7.p1 {
  flex-direction: column-reverse;
}

.match-player p {
  font-size: 11px;
  margin: 0px;
}

.t-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

.t-score p {
  font-size: 15px;
}
p.loser {
  color: rgb(232, 104, 53);
}
p.winner {
  color: rgb(53, 188, 53);
}

.match-player.winner {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
  grid-row: 2;
  grid-column: 4;
}

.m1.p1 {
  grid-row: 1;
  grid-column: 1;
}

.m1.b {
  grid-row: 2;
  grid-column: 1;
}

.m1.p2 {
  grid-row: 3;
  grid-column: 1;
}

.m2.p1 {
  grid-row: 4;
  grid-column: 1;
}

.m2.b {
  grid-row: 5;
  grid-column: 1;
}

.m2.p2 {
  grid-row: 6;
  grid-column: 1;
}

.m5.p1 {
  grid-row: 2;
  grid-column: 2;
}

.m5.b {
  align-self: center;
  display: flex;
  grid-row: 3/5;
  grid-column: 2;
}

.m5.p2 {
  grid-row: 5;
  grid-column: 2;
}

.m7.p1 {
  align-self: center;
  grid-row: 3/5;
  grid-column: 3;
}

.m7.b {
  align-self: center;
  grid-row: 3/5;
  grid-column: 4;
}

.m7.p2 {
  grid-row: 3/5;
  grid-column: 5;
}

.m6.p1 {
  grid-row: 2;
  grid-column: 6;
}

.m6.b {
  grid-row: 3/5;
  grid-column: 6;
}

.m6.p2 {
  grid-row: 5;
  grid-column: 6;
}

.m3.p1 {
  grid-row: 1;
  grid-column: 7;
}

.m3.b {
  grid-row: 2;
  grid-column: 7;
}

.m3.p2 {
  grid-row: 3;
  grid-column: 7;
}

.m4.p1 {
  grid-row: 4;
  grid-column: 7;
}

.m4.b {
  grid-row: 5;
  grid-column: 7;
}

.m4.p2 {
  grid-row: 6;
  grid-column: 7;
}

.match-player.winner p {
  font-size: 20px;
}

.reset.b {
  grid-row: 6;
  grid-column: 4;
}

.info-simulacoes {
  width: fit-content;
  grid-row: 1;
  grid-column: 3/6;
}
