.tournament-config {
  background-color: var(--mat-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournament-config section {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.tournament-config section form {
  margin: 10px 0px 10px 0px;
  display: grid;
  gap: 10px;
  grid-template-rows: 200px 200px 150px;
  grid-template-columns: 200px 200px 200px;
  justify-items: center;
}

.l1-container,
.l2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.l1-container {
  grid-row: 1/4;
  grid-column: 1;
}
.l2-container {
  grid-row: 1/4;
  grid-column: 3;
}

.select-all {
  margin-bottom: 5px;
  align-self: center;
}

.l1-container .select-all {
  margin-top: 24px;
}
#lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 200px;
  grid-row: 3;
  grid-column: 2;
}

#lower-container label {
  font-size: 14px;
  justify-self: center;
}
#lower-container input {
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

#create-camp-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

#create-camp-btn > button {
  width: 150px;
}

.list-limiter {
  height: 520px;
  width: 200px;
  overflow: auto;
}

.actions-container button {
  width: 100px;
  height: 50px;
  align-self: center;
}

.actions-container {
  grid-row: 1/3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
