.tournament {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-bg-color);
}

.tournament section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.tournament section > button {
  width: fit-content;
  align-self: flex-end;
}

.match-player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px 5px 0px;
  height: 60px;
  width: 120px;
  color: #fff;
  background-color: #242424;
  border-radius: 10px;
}

.match-player.m7.p1 {
  flex-direction: column-reverse;
}

.match-player p {
  font-size: 11px;
  margin: 0px;
}

.t-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 38px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

.t-score p {
  font-size: 15px;
}

p.loser {
  color: rgb(232, 104, 53);
}
p.winner {
  color: rgb(53, 188, 53);
}

.match-player.winner {
  padding: 10px;
  width: fit-content;
  min-width: 120px;
}

.match-player.winner p {
  font-size: 20px;
}
