#evaluate-bot {
  display: flex;
  height: 100%;
  background-color: var(--mat-bg-color);
  justify-content: center;
  align-items: center;
}

#evaluate-bot section {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.evaluate-table-limiter {
  height: 300px;
  padding-right: 20px;
  overflow: auto;
}

.selected-bot-container {
  display: grid;
  width: 100%;
  grid-template-columns: 130px auto;
}
